<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context">
    <!-- ===== Déclaration des DAO ===== -->
    <bean class="org.example.demo.ticket.consumer.impl.dao.ProjetDaoImpl" id="projetDao">
    <property ref="utilisateurDao" name="utilisateurDao"/>
    </bean>
    <bean class="org.example.demo.ticket.consumer.impl.dao.UtilisateurDaoImpl" id="utilisateurDao"/>

    <!-- ===== DaoFactory ===== -->
    <bean class="org.example.demo.ticket.consumer.impl.dao.DaoFactoryImpl" id="daoFactory">
    <property ref="projetDao" name="projetDao"/>
    <property ref="utilisateurDao" name="utilisateurDao"/>
    </bean>

    <!-- Prend en compte la configuration des injections (@Inject...) -->
    <context:annotation-config/>

    <!-- Scanne les packages pour trouver les beans qui se déclarent (@Named...) -->
    <context:component-scan base-package="org.example.demo.ticket"/>
</beans>